- contribution = @notification.contribution
- company_name = CatarseSettings[:company_name]
- contact_email = CatarseSettings[:email_contact]

|Olá, <strong>#{contribution.user.display_name}</strong>!
br
br
| We have cancelled your contribution to the project, #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_cancelado')}.
br
br
br
| If you run into any further problems, or would just like to chat, send us an email at #{mail_to contact_email}
br
br
|Cheers,
br
| #{company_name}
