- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

| Grettings, #{user.name}!
br
br
| Our team has received your project,  #{link_to project.name, project_link, target: '__blank'}
br/
br/
| We're checking that you meet all our requirements, and will get back to you within 2-3 three business days.
br
br
strong There are three possible responses:
br/
br/
strong 1:
| Your draft is wonderful, and you can begin immediately!
br/
br/
br/
strong 2:
| Your project seems underdeveloped. Keep working on it, and try again! If you want more detailed feedback, feel free to send us an email at #{mail_to CatarseSettings[:email_projects]}!
br/
br/
strong 3:
| We're afraid the project you submitted isn't the right fit for Funddit. Again, if you would like a more detailed explanation,feel free to contact us at #{mail_to CatarseSettings[:email_projects]}!
br/
br/
br/
br/
|Cheers,
br/
= company_name
