- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

|Hello, #{user.name}!
br
br
| Our team has received your project,  #{link_to project.name, project_link, target: '__blank'}
br/
br/
| We're currently making sure that your project is in compliance with our Terms and Conditios, and will get back to you soon!
br
br
strong You will receive one of three responses: 
br/
br/
strong Response 1:
| Perfecto! You passed our requirements with flying colors, go forth and make your project happen, and welcome to Funddit!
br/
br/
strong Response 2:
| At times, we may feel it is appropriate to make several suggestions. This will typically happen if we find that your project is underdeveloped.
br/
br/
strong Response 3:
| On occasion, we will reject some projects on the grounds that they in violation of our Terms and Conditions. We encourage you to submit another application that is compliant with our rules.
|
br/
br/
| If you have any questions or concerns, feel free to contact us at #{mail_to CatarseSettings[:email_projects]}
br/
br/
|Um abraço,
br/
= company_name
