- project = @notification.project
|Hey #{project.user.name}, where have you been?
br/
br/
|We'd just like to remind you that you've created a project draft, #{link_to(project.name, project_by_slug_url(permalink: project.permalink, ref: 'notificação_resgate_rascunho' ))}, but have not submitted it for our review. When you're done, feel free to click SUBMIT, and we'll be sure to give you some tips.
br/
br/
br/
br/
|If you have any hesitations, questions or concerns, feel free to email us at #{mail_to CatarseSettings[:email_contact]}.
br/
br/
br/
br/
|Cheers,
br/
strong
  |Funddit Team
br/
