- contribution = @notification.contribution

|Hey, <strong>#{contribution.user.display_name}</strong>!
br
br
' Looks like you tried to make a contribution to #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink, ref: 'notificacao_pending')}, but left half way!
|
br
br
| #{contribution.project.total_contributions} other contributors are counting on your contribution to help realize this project!
br
br
| If you are running into technical problems that is inhibiting your ability to make contributions, please try using a different browser. Failing that, please contact us at #{mail_to CatarseSettings[:email_contact]}
br
br
|Cheers,
br
|#{CatarseSettings[:company_name]}
