- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

|Hey, #{user.name}!
br
br
| We're so excited that you've decided to create your project at #{company_name}!
| In the meantime, <strong>#{link_to 'edit your draft', project_link, target: '__blank'}</strong> no #{company_name}.
| When you're ready, submit your draft, and  our admins will confirm that your project meets all our requirements.
br/
br/
| In order to ensure success, we're giving you access to Funddit's secret <strong>#{link_to 'Viral Guide for Organization', target: 'https://s3-us-west-2.amazonaws.com/funddit/Viral+Guide+for+Organizations+-+Google+Docs.pdf'}
| If you have any questions, please direction your questions to #{mail_to CatarseSettings[:email_contact]}
br/
br/
| Sincerely,
br/
= company_name
