- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

|Hey, #{user.name}!
br
br
| We're so excited that you've decided to create your project at #{company_name}!
| In the meantime, <strong>#{link_to 'edit your draft', project_link, target: '__blank'}</strong> no #{company_name}.
| When you're ready, submit your draft, and  our admins will confirm that your project meets all our requirements.
br/
br/
| In order to ensure success, we're giving you access to Funddit's secret <strong>#{link_to 'Viral Guide for Organization', targe: 'https://s3-us-west-2.amazonaws.com/funddit/Viral+Guide+for+Organizations+-+Google+Docs.pdf?X-Amz-Date=20141216T185208Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=119e87446dc62d8e7200630480b0c43e059e3974f9edb7f58954d7a7a98e29e2&X-Amz-Credential=ASIAJ3OJWULOQAGLGYBQ/20141216/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENz//////////wEagAJ7XlaptwDb33GRH%2BFSEKBFMjZOSa37NeudV9vkHqqNbM1joDeGFatp3%2B%2BaItbGh7WPBPhyWP%2B%2BtiN4lJaLWEQoA2xnR9wuk5J4bpaZSYebi0iAgN4Nbl8fTzFT0bTSoeqZ5NkLPEXdeRFJTU3iDDa2BM3cy%2BavyoAypjllkkfkhk8s0NihKY84Yawd%2BdmM1U6LAnCtjlMf/NH3uP6vn99FCgqFdAhH28FGASBULE/VVMIU/JumYjTEdDFX2REuIfQ0F22HpbH8kUIXkBCmYKuzWiQpoM1KAuNaYNAUawrxSQWVOTv%2BvpXbWA2ZBFK4yzTXmiK8aaW2kRBsaB4/e38hIMr2waQF'}
| If you have any questions, please direction your questions to #{mail_to CatarseSettings[:email_contact]}
br/
br/
| Sincerely,
br/
= company_name
