- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = CatarseSettings[:company_name]

|Hey, #{user.display_name}.
br/
br/
| Congratulations! Your project #{link_to project.name, project_link, target: '__blank'} is now live! Go forth and make some money!!
br/
br/
| If you have any questions or concerns, feel free to send us an email at #{mail_to CatarseSettings[:email_projects]} .
| Remember that you're responsible for the success or failure of your project. To ensure that you're successful, check out our #{link_to 'Viral Guide for Organizations','https://s3-us-west-2.amazonaws.com/funddit/Viral+Guide+for+Organizations+-+Google+Docs.pdf'}. This will <strong>maximize your chances of success</strong>
br/
br/
| Keep in mind that just because we have approved your projects, does not mean that your project is perfect. We encourge you to keep tweaking your project to suit the needs of your potential benefactors. The more information and transparency, the better.
| Excellent projects will be recommended on our front page.
br/
br/
br/
br/
br/
| Cheers,
br/
| #{company_name} Team
