p Hello #{@notification.user.name},

p
  | We're really sad to see you go. We'll miss you... if you change your mind, you can always reactivate your account by #{link_to('clicking here', reactivate_user_url(@notification.user, token: @notification.user.reactivate_token))}
p
  | If you have any questions or concerns, feel free to contact us by replaying to this email or by emailing #{mail_to CatarseSettings[:email_contact]}

p Cheers,
p Funddit
