h2 Frequently Asked Questions

h3 How do I support this project?
p First, select the desired value. Next, click "Review and make a payment", which will direct you to another page, where you can complete the funding process.

h3 When is my payment effective?
p Your credit or debit card will NOT be charged until the end of the campaign. Funddit will charge your card only if the project you supported is successful.

h3 What if this project is unsuccessful?
p All Funddit projects are all-or-nothing. If the project isn't successfully funded, your debit/credit card will not be charged.

h3 If the project is successful, how will I receive my reward?
p This depends on the campaign. Typically, #{link_to @project.user.display_name, user_path(@project.user)} will contact you about how they plan on delivering.
