#ouibounce-modal {
<<<<<<< HEAD
  font-family: 'Lato', sans-serif;
  display: none;
  color: #333;
=======
  font-family: 'Open Sans', sans-serif;
  display: none;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#ouibounce-modal .underlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
#ouibounce-modal .modal {
<<<<<<< HEAD
  width: 650px;
  height: 500px;
=======
  width: 600px;
  height: 400px;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
  background-color: #f0f1f2;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  -webkit-animation: popin 0.3s;
  animation: popin 0.3s;
}
#ouibounce-modal .modal-title {
<<<<<<< HEAD
  font-size: 30px;
  font-weight: 900;
  background-color: #3f4752;
=======
  font-size: 18px;
  background-color: #252525;
  color: #fff;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
  padding: 10px;
  margin: 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
}
#ouibounce-modal h3 {
  color: #fff;
  font-size: 1em;
  margin: 0.2em;
<<<<<<< HEAD
=======
  text-transform: uppercase;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
  font-weight: 500;
}
#ouibounce-modal .modal-body {
  padding: 20px 35px;
<<<<<<< HEAD
  font-size: 1.2em;
  color: #333;
  text-align: left;
}

#ouibounce-modal .modal-body .right{
  float: right;
  margin-left: 15px;
  margin-right: 30px;
}

=======
  font-size: 0.9em;
}
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
#ouibounce-modal p {
  color: #344a5f;
}
#ouibounce-modal form {
  text-align: center;
  margin-top: 35px;
}
<<<<<<< HEAD
#ouibounce-modal form input[type=email] {
  padding: 12px;
  font-size: 1.0em;
=======
#ouibounce-modal form input[type=text] {
  padding: 12px;
  font-size: 1.2em;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-font-smoothing: antialiased;
}
#ouibounce-modal form input[type=submit] {
<<<<<<< HEAD
  font-weight: bold;
  padding: 12px;
  font-size: 1.0em;
=======
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px;
  font-size: 1.1em;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
  border-radius: 4px;
  color: #fff;
  background-color: #4ab471;
  border: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
#ouibounce-modal form p {
  text-align: left;
  margin-left: 35px;
  opacity: 0.8;
  margin-top: 1px;
  padding-top: 1px;
<<<<<<< HEAD
  font-size: 0.8em;
=======
  font-size: 0.9em;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
}
#ouibounce-modal .modal-footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
<<<<<<< HEAD
  box-sizing: border-box;
=======
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
}
#ouibounce-modal .modal-footer p {
  text-transform: capitalize;
  cursor: pointer;
<<<<<<< HEAD
  color: #d9534f;
  display: inline;
  border-bottom: 1px solid #d9534f;
=======
  display: inline;
  border-bottom: 1px solid #344a5f;
>>>>>>> 4b7d5e8035becaa4652e8c4b4db4f30f51ec2f9b
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes popin {
  0% {
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
